@{
    ViewData["Title"] = "Monitoring";
}
@model FHMonitor.Models.ViewModels.MonitorSettingsViewModel;
@using SharpPcap;

<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">Monitor Settings</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("StartCapturing", "Monitoring", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="mb-3">
                @Html.LabelFor(x => x.CaptureDeviceName)
                @Html.DropDownListFor(x => x.CaptureDeviceName, new SelectList(ViewBag.captureDevices, "Name", "Name"), new { @class = "form-select" })
                @Html.ValidationMessageFor(x => x.CaptureDeviceName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(x => x.Filter)
                @Html.TextBoxFor(x => x.Filter , Model.Filter , new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Filter, "", new { @class = "text-danger" })
                <div id="emailHelp" class="form-text">*Berkley Packet Filters.</div>
            </div>
            <button class="btn btn-primary" type="submit">Submit settings</button>
        }
    </div>
</div>