@{
    ViewData["Title"] = "Monitoring";
}
@model FHMonitor.Models.ViewModels.MonitorSettingsViewModel;
@using SharpPcap;

<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">Monitor Settings</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "settingsForm" }))
        {
            <div class="mb-3">
                @Html.LabelFor(x => x.CaptureDeviceIndex)
                @Html.DropDownListFor(x => x.CaptureDeviceIndex, new SelectList(ViewBag.captureDevices, "Value", "Name"), new { @class = "form-select" })
                @Html.ValidationMessageFor(x => x.CaptureDeviceIndex, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(x => x.Filter)
                @Html.TextBoxFor(x => x.Filter , new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Filter, "", new { @class = "text-danger" })
                <div id="emailHelp" class="form-text">*Berkley Packet Filters.</div>
            </div>
            <button class="btn btn-primary" type="submit">Submit settings</button>
        }
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <div class="container d-flex justify-content-between gap-5" id="partial">
            @Html.ActionLink("Stop", "", "Monitoring", null, new { @class = "btn btn-danger flex-fill disabled" })
            @Html.ActionLink("Reset", "", "Monitoring", null, new { @class = "btn btn-warning flex-fill disabled" })
            @Html.ActionLink("Start", "", "Monitoring", null, new { @class = "btn btn-success flex-fill disabled" })
        </div>
    </div>
</div>

@section Scripts {
    <script>
        jq(document).ready(function () {
            jq("#settingsForm").submit(function (event) {
                event.preventDefault();

                var formData = jq(this).serializeArray();

                var data = {};
                jq.each(formData, function () {
                    data[this.name] = this.value;
                });

                CallMethod("SetSettings", "Monitoring", data)
                .then(function (success) {
                    if (success) {
                        jq("#partial a.btn").removeClass("disabled");
                    } else {
                        alert("Failed to apply settings.");
                        jq("#partial a.btn").addClass("disabled");
                    }
                });
            });
        });
    </script>
}